h1{
    color: blue;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-align: justify;
}

h2{
    color: darkblue;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}